@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&display=swap');
*{
font-family: 'Chiron Goround TC','Asta Sans', cursive;
}
a{
    text-decoration: none;
    text-shadow: 0.5px 0.5px black;
}
p{
    margin: 0px;
}
li{
    list-style: none;
    border: 1px solid black;
    margin-left: 30px;
    width: 200px;
}
header{
    border: 4px solid black;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom: none;
    padding-left: 20px;
    width: 318px;
}

.main{
    border: 4px solid black;
    border-bottom: none;
    background-image: url("indexposter.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 500px;
    width: 338px;
}
footer{
    clear: both;
    border: 4px solid black;
    height: 1em;
    line-height: 1em;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 0.5em;
    width: 338px;
}
.navlist{
    border: 4px solid black;
    width: 338px;
}
.num{
    counter-increment: 1;
}
span{
    height: 28px;
    line-height: 28px;
    width: 30px;
    text-align: center;
    position: absolute;
}
.box1, .box2, .box3, .box4{
    height: 28px;
}
.box1{
    background-color: rgb(255, 119, 119);
}
.box2{
    background-color: rgb(248, 243, 137);
}
.box3{
    background-color: rgb(86, 238, 144);
}
.box4{
    background-color: rgb(132, 219, 225);
}
.boxtag1, .boxtag2, .boxtag3, .boxtag4{
    margin-top: 5px;
    clear: both;
    width: 232px;
    height: 40px;
    margin-bottom: 15px;
    font-size: 14px;
    border-bottom-right-radius: 10px;
}
.boxtag1{
    background-color: rgb(255, 189, 189);
}
.boxtag2{
    background-color: rgb(255, 253, 208);
}
.boxtag3{
    background-color: rgb(136, 234, 174);;
}
.boxtag4{
    background-color: rgb(178, 223, 226);

}




